Привет, Строгий Контроль!<br />
Тут кое-что критичное поменяли:
<table>
<% changes.each do |change| %>
  <tr>
    <td><%= change[:author] %></td>
    <td><%= "<a href='#{change[:url]}'>#{change[:file]}</a>" %></td>
  </tr>
<% end %>
</table>
